<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="newUsedPartModal" class="modal" tabindex="-1" th:fragment="dialog">
	<div class="modal-dialog modal-xl">
		<form id="newUsedPartForm" th:data-id="${customer.id}" class="modal-content" action="" method="post">
			<div class="modal-header">
				<h5 class="modal-title">Add parts</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table id="table" data-toggle="table" data-height="600">
					<thead>
					<tr>
						<th data-field="name" scope="col">Name</th>
						<th data-field="category" scope="col">Category</th>
						<th data-field="price" scope="col">Price</th>
						<th data-field="stock" scope="col">In stock</th>
						<th scope="col">Use</th>
					</tr>
					</thead>
					<tbody>
					<tr th:if="${#lists.isEmpty(availableParts)}">
						<td colspan="7">No parts to display</td>
					</tr>
					<tr th:unless="${#lists.isEmpty(availableParts)}" th:each="part : ${availableParts}">
						<td th:text="${part.name}">name</td>
						<td th:text="${part.category.displayValue}">category</td>
						<td th:text="${part.price}">price</td>
						<td th:text="${part.stock}">stock</td>
						<td class="d-flex">
							<input type="number" min="0" th:max="${part.stock}" class="form-control" th:name="${part.id}"/>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
</div>