<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<section id="hero" class="d-flex mt-5" layout:fragment="content">
	<div class="container">
		<div class="section-title" data-aos="fade-up">
			<h2>Customer</h2>
			<p>Here you can add and manage appointments.</p>
		</div>

		<ul class="mt-2 list-group list-group-horizontal">
			<li class="list-group-item w-25">Name</li>
			<li class="list-group-item flex-fill" th:text="${customer.firstName + ' ' + customer.lastName}">name</li>
		</ul>
		<ul class="mt-2 list-group list-group-horizontal">
			<li class="list-group-item w-25">Address</li>
			<li class="list-group-item flex-fill" th:text="${customer.address}">address</li>
		</ul>
		<ul class="mt-2 list-group list-group-horizontal">
			<li class="list-group-item w-25">Postal code</li>
			<li class="list-group-item flex-fill" th:text="${customer.postalCode}">postalCode</li>
		</ul>
		<ul class="mt-2 list-group list-group-horizontal">
			<li class="list-group-item w-25">Town</li>
			<li class="list-group-item flex-fill" th:text="${customer.town}">town</li>
		</ul>
		<ul class="mt-2 list-group list-group-horizontal">
			<li class="list-group-item w-25">Email</li>
			<li class="list-group-item flex-fill" th:text="${customer.email}">email</li>
		</ul>
		<ul class="mt-2 list-group list-group-horizontal">
			<li class="list-group-item w-25">Phone</li>
			<li class="list-group-item flex-fill" th:text="${customer.phone}">phone</li>
		</ul>
	</div>
</section>
</html>