<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<div class="h-100 p-3 overflow-auto" layout:fragment="content">
	<section id="parts" class="d-flex mt-5">
		<div class="container">
			<div class="section-title" data-aos="fade-up">
				<h2>Parts</h2>
			</div>

			<!-- Parts -->
			<ul class="nav nav-tabs" id="categoryTab" role="tablist">
				<li class="nav-item" th:each="category : ${T(com.main.easyFix.parts.PartCategory).values()}">
					<a class="nav-link" th:id="${category.displayValue + 'Tab'}" data-toggle="tab" th:href="${'#' + category.displayValue}" role="tab" aria-selected="false" th:text="${category.displayValue}">category</a>
				</li>
			</ul>
			<div class="tab-content mb-3" id="categoryTabContent">
				<div class="tab-pane fade"  th:each="category : ${T(com.main.easyFix.parts.PartCategory).values()}" th:id="${category.displayValue}" role="tabpanel">
					Some info
<!--					<table th:id="${category + 'Table'}" class="mt-2 table table-striped">-->
<!--						<thead>-->
<!--						<tr>-->
<!--							<th scope="col">Id</th>-->
<!--							<th scope="col">Name</th>-->
<!--							<th scope="col">Description</th>-->
<!--							<th scope="col">Category</th>-->
<!--							<th scope="col">Price</th>-->
<!--							<th scope="col">In stock</th>-->
<!--							<th scope="col">Actions</th>-->
<!--						</tr>-->
<!--						</thead>-->
<!--						<tbody>-->
<!--						<tr th:if="${#lists.isEmpty(parts)}">-->
<!--							<td colspan="7">No parts to display</td>-->
<!--						</tr>-->
<!--						<tr th:if="${not #lists.isEmpty(parts)}" th:each="part : ${parts}">-->
<!--							<td th:text="${part.id}">id</td>-->
<!--							<td th:text="${part.name}">name</td>-->
<!--							<td th:text="${part.description}">description</td>-->
<!--							<td th:text="${part.category}">category</td>-->
<!--							<td th:text="${part.price}">price</td>-->
<!--							<td th:text="${part.stock}">stock</td>-->
<!--							<td sec:authorize="hasAnyAuthority('ADMIN', 'EXPERT')" class="d-flex">-->
<!--								<form class="mr-2" action="" th:action="@{'/customer/{id}'(id=${customer.id})}" th:method="get">-->
<!--									<button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Edit">-->
<!--										<i class="bi bi-pencil"></i>-->
<!--									</button>-->
<!--								</form>-->
<!--							</td>-->
<!--						</tr>-->
<!--						</tbody>-->
<!--					</table>-->
				</div>
			</div>

			<!-- Backoffice functions -->
			<div class="d-flex justify-content-end" sec:authorize="hasAuthority('BACKOFFICE')">
				<button type="button" class="btn btn-success" data-toggle="modal" data-target="#newPartModal">
					+ Add part
				</button>
			</div>
		</div>

		<div th:insert="fragments/dialogs/parts/new :: dialog">...</div>
		<div th:insert="fragments/dialogs/parts/update :: dialog">...</div>
	</section>
</div>
</html>