<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<div class="h-100 p-3 overflow-auto" layout:fragment="content">
	<section id="customers" class="d-flex mt-5">
		<div class="container">
			<div class="section-title" data-aos="fade-up">
				<h2>Customers</h2>
			</div>

			<!-- Customer table -->
			<div class="overflow-auto mb-3" style="max-height: 30rem;">
				<table id="customerTable" class="mt-2 table table-striped" data-pagination="true" data-filter-control="true">
					<thead>
					<tr>
						<th data-field="id" scope="col">Id</th>
						<th data-field="name" data-filter-control="input" scope="col">Name</th>
						<th data-field="address" data-filter-control="input" scope="col">Address</th>
						<th data-field="phone" scope="col">Phone</th>
						<th data-field="appointment" data-sortable="true" scope="col">Appointment</th>
						<th data-field="status" data-sortable="true" scope="col">Status</th>
						<th sec:authorize="hasAnyAuthority('ADMIN', 'EXPERT')" scope="col">Actions</th>
					</tr>
					</thead>
					<tbody>
					<tr th:if="${#lists.isEmpty(customers)}">
						<td colspan="7">No customers to display</td>
					</tr>
					<tr th:if="${not #lists.isEmpty(customers)}" th:each="customer : ${customers}">
						<td th:text="${customer.id}">id</td>
						<td th:text="${customer.firstName + ' ' + customer.lastName}">name</td>
						<td th:text="${customer.address}">address</td>
						<td th:text="${customer.phone}">phone</td>
						<td th:switch="${customer.appointment}">
							<span th:case="null">-</span>
							<span th:case="*" th:text="${#dates.format(customer.appointment.date, 'dd-MM-yyyy')}">date</span>
						</td>
						<td th:switch="${customer.appointment}">
							<span th:case="null">-</span>
							<div th:case="*">
								<span
									th:if="${customer.appointment.status == T(com.main.easyFix.appointment.AppointmentStatus).REPORTED}"
									class="badge badge-info">Reported</span>
								<span
									th:if="${customer.appointment.status == T(com.main.easyFix.appointment.AppointmentStatus).REPAIRING}"
									class="badge badge-warning">Repairing</span>
								<span
									th:if="${customer.appointment.status == T(com.main.easyFix.appointment.AppointmentStatus).COMPLETE}"
									class="badge badge-primary">Complete</span>
								<span th:if="${customer.appointment.status == T(com.main.easyFix.appointment.AppointmentStatus).PAID}"
											class="badge badge-success">Paid</span>
								<span
									th:if="${customer.appointment.status == T(com.main.easyFix.appointment.AppointmentStatus).CANCELED}"
									class="badge badge-danger">Canceled</span>
							</div>
						</td>
						<td sec:authorize="hasAnyAuthority('ADMIN', 'EXPERT')" class="d-flex">
							<form class="mr-2" action="" th:action="@{'/customer/{id}'(id=${customer.id})}" th:method="get">
								<button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Edit">
									<i class="bi bi-pencil"></i>
								</button>
							</form>
							<form action="" sec:authorize="hasAuthority('ADMIN')"
										th:action="@{'/customer/{id}/remove'(id=${customer.id})}" th:method="delete">
								<button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete">
									<i class="bi bi-trash"></i>
								</button>
							</form>
						</td>
					</tr>
					</tbody>
				</table>
			</div>

			<!-- Admin functions -->
			<div class="d-flex justify-content-end" sec:authorize="hasAuthority('ADMIN')">
				<button type="button" class="btn btn-success" data-toggle="modal" data-target="#newCustomerModal">
					+ New customer
				</button>
			</div>
		</div>

		<div th:insert="dialogs/person/new_customer :: dialog">...</div>
	</section>
</div>
</html>