<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="newEmployeeModal" class="modal" tabindex="-1" th:fragment="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add employee</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form th:action="@{/employees/add}" th:object="${appUser}" action="" method="post">
					<div class="form-group">
						<label for="firstName" class="control-label">First name</label>
						<input id="firstName" class="form-control" th:field="*{firstName}"/>
					</div>
					<div class="form-group">
						<label for="lastName" class="control-label">Last name</label>
						<input id="lastName" class="form-control" th:field="*{lastName}"/>
					</div>
					<div class="form-group">
						<label for="email" class="control-label">E-mail</label>
						<input id="email" class="form-control" th:field="*{email}"/>
					</div>
					<div class="form-group">
						<label for="password" class="control-label">Password</label>
						<input id="password" class="form-control" type="password" th:field="*{password}"/>
					</div>
					<div class="form-group">
						<label for="department">Department</label>

						<select id="department" name="color" class="form-control" th:field="*{appUserDepartment}">
							<option th:each="department : ${T(com.main.easyFix.appuser.AppUserDepartment).values()}"
											th:value="${department}" th:text="${department.displayValue}"></option>
						</select>
					</div>
					<div class="form-group float-right">
						<button type="submit" class="btn btn-success">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>