<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="newAppointmentModal" class="modal" tabindex="-1" th:fragment="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add appointment</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="needs-validation" novalidate action="" th:action="@{'/customer/{id}/appointment/add'(id=${customer.id})}" th:object="${appointment}" method="post">
					<div class="form-group">
						<label for="computer" class="control-label">Type of computer</label>
						<input id="computer" class="form-control" th:field="*{computer}" placeholder="Give a description of the computer" required/>
						<div class="valid-feedback">That is some badass computer!</div>
						<div class="invalid-feedback">Please give a description of the customer's computer</div>
					</div>
					<div class="form-group">
						<label for="description" class="control-label">Description</label>
						<textarea class="form-control" id="description" rows="3" th:field="*{description}"
											placeholder="What is wrong with the computer?" required></textarea>
						<div class="valid-feedback">Aii, we'll fix this!</div>
						<div class="invalid-feedback">Please describe what is wrong with the computer</div>
					</div>
					<div class="form-group">
						<label for="datepicker" class="control-label">Date</label>
						<div class="input-group date">
							<input type="text" class="form-control" id="datepicker" autocomplete="off" th:field="*{date}" required/>
							<div class="input-group-append">
								<span id="pickerButton" class="input-group-text">
									<i class="bi bi-calendar-week"></i>
								</span>
							</div>
							<div class="valid-feedback">Looks good!</div>
							<div class="invalid-feedback">The appointment needs a date</div>
						</div>
					</div>
					<div class="form-group float-right">
						<button type="submit" class="btn btn-success">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>