<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="newAppointmentModal" class="modal" tabindex="-1" th:fragment="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add appointment</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="" th:action="@{'/customer/{id}/appointment/add'(id=${customer.id})}" th:object="${appointment}" method="post">
					<div class="form-group">
						<label for="computer" class="control-label">Type of computer</label>
						<input id="computer" class="form-control" th:field="*{computer}"/>
					</div>
					<div class="form-group">
						<label for="description" class="control-label">Description</label>
						<input id="description" class="form-control" th:field="*{description}"/>
					</div>
					<div class="form-group">
						<label for="date" class="control-label">Date</label>
						<input type="date" class="form-control" id="date" autocomplete="off" th:field="*{date}"/>
					</div>
					<div class="form-group float-right">
						<button type="submit" class="btn btn-success">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>