<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<div class="h-100 p-3 overflow-auto" layout:fragment="content">
	<section id="parts" class="d-flex mt-5">
		<div class="container">
			<div class="section-title" data-aos="fade-up">
				<h2>Parts</h2>
			</div>

			<!-- Parts table -->
			<div class="overflow-auto" style="max-height: 30rem;">
				<table id="partsTable" class="table table-striped" data-pagination="true" data-filter-control="true">
					<thead>
					<tr>
						<th data-field="id" scope="col">Id</th>
						<th data-field="name" data-filter-control="input" scope="col">Name</th>
						<th data-field="category" data-filter-control="select" data-sortable="true" scope="col">Category</th>
						<th data-field="price" data-sortable="true" scope="col">Price</th>
						<th data-field="stock" scope="col">In stock</th>
						<th scope="col">Actions</th>
					</tr>
					</thead>
					<tbody>
					<tr th:if="${#lists.isEmpty(parts)}">
						<td colspan="7">No parts to display</td>
					</tr>
					<tr th:if="${not #lists.isEmpty(parts)}" th:each="part : ${parts}">
						<td th:text="${part.id}">id</td>
						<td th:text="${part.name}">name</td>
						<td th:text="${part.category.displayValue}">category</td>
						<td th:text="${part.price}">price</td>
						<td th:text="${part.stock}">stock</td>
						<td sec:authorize="hasAuthority('BACKOFFICE')" class="d-flex">
							<form class="mr-2" action="" th:action="@{'/part/{id}'(id=${part.id})}" th:method="get">
								<button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Edit">
									<i class="bi bi-pencil"></i>
								</button>
							</form>
						</td>
					</tr>
					</tbody>
				</table>
			</div>

			<!-- Backoffice functions -->
			<div class="mt-2 d-flex justify-content-end" sec:authorize="hasAuthority('BACKOFFICE')">
				<button type="button" class="btn btn-success" data-toggle="modal" data-target="#newPartModal">
					+ Add part
				</button>
			</div>
		</div>

		<div th:insert="dialogs/parts/new :: dialog">...</div>
	</section>
</div>
</html>