<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<div class="h-100 p-3 overflow-auto" layout:fragment="content">
	<section id="employees" class="d-flex mt-5">
		<div class="container">
			<div class="section-title" data-aos="fade-up">
				<h2>Employees</h2>
			</div>

			<!-- Employee table -->
			<div class="overflow-auto" style="max-height: 30rem;">
				<table id="employeeTable" class="table table-striped" data-pagination="true" data-filter-control="true">
					<thead>
					<tr>
						<th data-field="id" scope="col">ID</th>
						<th data-field="name" data-filter-control="input" scope="col">Name</th>
						<th data-field="email" data-filter-control="input" scope="col">Email</th>
						<th data-field="department" data-sortable="true" scope="col">Department</th>
						<th sec:authorize="hasAuthority('ADMIN')" scope="col">Actions</th>
					</tr>
					</thead>
					<tbody>
					<tr th:if="${#lists.isEmpty(employees)}">
						<td colspan="7">No employees to display</td>
					</tr>
					<tr th:if="${not #lists.isEmpty(employees)}" th:each="employee : ${employees}">
						<td th:text="${employee.id}">id</td>
						<td th:text="${employee.firstName + ' ' + employee.lastName}">name</td>
						<td th:text="${employee.email}">email</td>
						<td th:text="${employee.appUserDepartment.displayValue}">department</td>
						<td sec:authorize="hasAuthority('ADMIN')">
							<form action="#" th:action="@{'/employees/{id}/remove'(id=${employee.id})}" th:method="delete">
								<button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete">
									<i class="bi bi-trash"></i>
								</button>
							</form>
						</td>
					</tr>
					</tbody>
				</table>
			</div>

			<!-- Admin functions	-->
			<div class="mt-2 d-flex justify-content-end" sec:authorize="hasAuthority('ADMIN')">
				<button type="button" class="btn btn-success" data-toggle="modal" data-target="#newEmployeeModal">
					+ New employee
				</button>
			</div>
		</div>

		<div th:insert="dialogs/person/new_employee :: dialog">...</div>
	</section>
</div>
</html>